@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .album-cols-2 {
    @apply grid-cols-2;
  }

  .album-cols-3 {
    @apply grid-cols-3;
  }

  .album-cols-4 {
    @apply grid-cols-4;
  }

  .album-cols-5 {
    @apply grid-cols-5;
  }

  .album-cols-6 {
    @apply grid-cols-6;
  }

  .album-rows-2 {
    @apply grid-rows-2;
  }

  .album-rows-3 {
    @apply grid-rows-3;
  }

  .album-rows-4 {
    @apply grid-rows-4;
  }

  .album-rows-5 {
    @apply grid-rows-5;
  }

  .album-rows-6 {
    @apply grid-rows-6;
  }
}
